@import url('https://fonts.googleapis.com/css2?family=Lekton:ital,wght@0,400;0,700;1,400&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
.whole {
    width: 100%;
    min-height: 100%;
    background-color: gray;
    display: flex;
    flex-direction: column;

}

.container {
    display: grid;
    grid-template-columns: 3.5fr 1fr; /* 4 parts for editor, 1 part for input/output */
    height: 94vh;
    width: 100%;
    font-family: "Lekton", monospace;
    font-weight: 900;
    font-style: normal;
    font-size: 18px; 
}

.container2 {
    display: grid;
    grid-template-rows: 1fr 1fr; 
    /* height: 100%; */
}

.container3 {
    height: 100%;
    width: 100%;
    border: 1px rgb(150, 150, 150) solid;
    color: rgb(200, 200, 200);
    padding: 0.5rem;
    background-color: rgb(46, 50, 53);
    box-sizing: border-box; /* Prevent overflow due to padding */
    font-size: 16px;
}

.btn {
    width: 100%;
    /* background-color: rgb(100, 100, 100); */
    color: whitesmoke;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}

.btn:hover {
    /* background-color: rgb(60, 60, 60); */
}
